.sideBar{
    height: 100vh;
    width: 30%;
    position: fixed;
    float: left;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
}
    
li{
    list-style:none;
    margin-bottom:10px;
}

  .myList ul {
            list-style-type: none;
            padding: 0;
        }
        .myList li {
            margin: 10px ;
        }
        .myList a {
            display: block;
            padding: 5px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-decoration: none;
            color: #333;
            transition: background-color 0.3s, border-color 0.3s;
        }
        .myList a:hover {
            background-color: #e0e0e0;
            border-color: #aaa;
        }

    
    .description{
     width: 70%;
    height:100%-webkit-fill-available ;
    text-align: justify;
    float: right;
    overflow: scroll;
    }